name: API Check

on:
  push:
    branches:
      - main

jobs:
  call-apis:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Call Example API 2
        run: |
          echo "Calling API 2..."
          curl -s https://test123nepal.com/posts/1 | jq .
